.stages {
  position: relative;
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/Effect.png) no-repeat center center/cover;
}

.stages h1 {
  margin: 10px;
  font-size: 80px;
  color: #f22f46;
  text-shadow: -3px 4px 0px #7c122b;
  position: absolute;
  top: 0;
}

.stages-menu {
  display: flex;
  flex-wrap: wrap;
  width: 785px;
}

.stages-menu .stage-icon {
  width: 250px;
  height: 141px;
  margin: 5px 5px;
  padding: 5px 5px;
  font-size: 25px;
  text-shadow: 2px 1px #070707;
}

.stage-icon-selected {
  border: 4px solid #315dcd;
  border-radius: 6px;
}